venv/
__pycache__/
test/
CodeFormer/
ffmpeg/
gfpgan/
models/
pip/
python/
roop/
tasks/
tmp/
trtcache/
venv/
whl/

start_portable_cpu.bat
start_portable_amd.bat
start_portable_nvidia.bat

requirements_dml.txt
run.py
requirements_legacy.txt
