<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет - deepedit</title>
    <link rel="stylesheet" href="{{ url_for('static', path='lk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='spinner.css') }}">
</head>
<body id="body" style="justify-content: center;">
    <div class="lds-ring" id="lds-ring"><div></div><div></div><div></div><div></div></div>
</body>
<script src="{{ url_for('static', path='lk.js') }}"></script> 
</html>